* {
    padding: 0;
    margin: 0;
    list-style: none;
}

html,
body {
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
}

header,
footer {
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background: burlywood;
}

.mian {
    width: 100%;
    height: auto;
    overflow: hidden;
    ul {
        width: 100%;
        height: auto;
        li {
            width: 100%;
            height: 50px;
            line-height: 50px;
            text-align: center;
            border-bottom: 1px solid #ccc;
        }
    }
}