@charset "UTF-8";
* {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  box-sizing: border-box;
  color: #333;
  font-size: .14rem;
  font-weight: 400;
  font-style: normal;
  font-family: "宋体";
}

ul,
li {
  list-style: none;
}

html {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
  font-size: 625%;
}

img,
div,
body,
html,
ul,
li,
a {
  -webkit-touch-callout: none;
}

button {
  cursor: pointer;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #ccc;
}

html,
body {
  width: 100%;
  height: 100%;
}

.wrap {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #ccc;
}

header {
  width: 100%;
  height: 0.45rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  padding: 0 .15rem;
}

.con {
  width: 100%;
  height: auto;
  background: #fff;
  margin-top: .15rem;
  padding: 0 .15rem;
}

.con h5 {
  width: 100%;
  height: 0.7rem;
  line-height: .4rem;
}

.con h5 i {
  width: 0.4rem;
  height: 0.4rem;
  text-align: center;
  background: #ccc;
  margin: .15rem;
  font-size: .2rem;
  color: gray;
  border-radius: 50%;
  display: inline-block;
}

.con h5 span {
  padding-left: .1rem;
}

.con p {
  width: 100%;
  height: 0.5rem;
  line-height: .5rem;
  border-top: 1px solid #ccc;
}

.con p span {
  padding-left: .1rem;
}

.con p:nth-child(2) i {
  color: goldenrod;
}

.con p:nth-child(3) i {
  color: #b61f1f;
}

.con p:nth-child(4) i {
  color: #85dd11;
}

.con p:nth-child(5) i {
  color: #1a9cf3;
}
